@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Montserrat:wght@500;600;700&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Esimerkki :rootin käytöstä */

:root {
  --font-extra-small: 0.85rem;
  --font-small: 1rem;
  --font-medium: 1.5rem;
  --font-big: 2rem;
  --blue: #1e90ff;
  --clr-grey: #eeeaea;
  --clr-button: #ececec;
  --clr-button-hover: #e2dede;
}

/* koodissa kutsutaan esim background: var(--blue) */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}





